<h1 style="text-align: center;"><b>Faculty Page</b></h1>
<h1 style="text-align: left;">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Aperiam, fugit repellendus sed fuga corporis eveniet nam fugiat,
    vero similique cupiditate saepe libero porro dolores atque itaque temporibus,
    eum natus sequi.
</h1>

<h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Aperiam, fugit repellendus sed fuga corporis eveniet nam fugiat,
    vero similique cupiditate saepe libero porro dolores atque itaque temporibus,
    eum natus sequi.
</h2>

<h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Aperiam, fugit repellendus sed fuga corporis eveniet nam fugiat,
    vero similique cupiditate saepe libero porro dolores atque itaque temporibus,
    eum natus sequi.
</h3>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Aperiam, fugit repellendus sed fuga corporis eveniet nam fugiat,
    vero similique cupiditate saepe libero porro dolores atque itaque temporibus,
    eum natus sequi.
</p>
    