<div class="nav">
<!--<mat-toolbar>
        <div class="button"><button mat-raised-button color="warn" routerLink="home">Home</button></div>
        <div class="button"><button mat-raised-button color="warn" routerLink="newsletter">News letter</button></div>
        <div class="button"><button mat-raised-button color="warn" routerLink="programs">Programs</button></div>
        <div class="button"><button mat-raised-button color="warn" routerLink="faculty">Faculty</button></div>
        <div class="button"><button mat-raised-button color="warn" routerLink="contactus">Contact Us</button></div>
        <div class="button"><button mat-raised-button color="warn" routerLink="addmission">Admission</button></div>
</mat-toolbar>-->


<table id="table">
    <tr>
        <td><button id="button" routerLink="home">Home</button></td>
        <td><button id="button" routerLink="newsletter">News Letter</button></td>
        <td><button id="button" routerLink="programs">Programs</button></td>
        <td><button id="button" routerLink="faculty">Faculty</button></td>
        <td><button id="button" routerLink="contactus">Contact Us</button></td>
        <td><button id="button" routerLink="addmission">Addmission</button></td>
    </tr>
</table>
</div>