/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: rgba(103, 50, 150, 0.76);}
h1{
    font-style:oblique;
    color: black;
    text-align: center;

}